body {
  font-family: sans-serif;
  background: #181617;
  display: grid;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
}

nav a {
  align-self: flex-start;
  z-index: 2;
  margin: 10px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  padding: 20px;
  position: absolute;
  margin: auto;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  color: plum;
  font-size: 10em;
  font-weight: 900;
  text-shadow: 3px 3px 4px rgb(219, 11, 11);
}

.links {
  text-decoration: none;
  color: plum;
  font-size: 1em;
  font-weight: 900;
  text-shadow: 3px 3px 4px rgb(219, 11, 11);
}

.mapContainer {
  display: block;
  height: 1000px;
  width: 1200px;
  border-color: plum;
  border-radius: 5px;
  margin-left: 18%;
  margin-top: 30px;
}

.vendorPopup {
  padding: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  width: 100px;
  font-size: large;
  margin-bottom: 30px;
}

.vendorPopup h1 {
  font-size: 15px;
}

.vendorProfileContainer {
  padding: 30px;
  display: inline-flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  height: 1000px;
  width: 100%;
  background-color: pink;
  margin: 10px;
}

.vendorHeader {
  color: white;
  width: 500px;
  height: 1000px;
  cursor: pointer;
  overflow: hidden;
  background-color: black;
  margin-bottom: auto;
  margin-top: auto;
  align-self: flex-start;
  padding: 20px;
  border-radius: 20px;
  border-style: groove;
}

.vendorHeader h1 {
  margin-left: 37%;
}

.vendorHeader img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-left: 22%;
}

.vendorHeader p {
  margin-left: 39%;
}

.vendorHeader h2 {
  margin-left: 43%;
}

.vendorHeader h3 {
  margin-left: 36%;
}

.vendorWork {
  width: 65%;
  height: 1000px;
  background-color: black;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  border-radius: 20px;
  border-style: groove;
}

.vendorInfo {
  height: 200px;
}

.vendorInfo h1 {
  font-size: small;
}

.vendorInfo ul {
  font-size: large;
}

.contactInfo h4 {
  margin-left: 34%;
  font-size: large;
}

.contactInfo h5 {
  margin-left: 27%;
  font-size: large;
}

.contactInfo h6 {
  margin-left: 30%;
  font-size: large;
}
