body {
  font-family: sans-serif;
  background: #181617;
  display: grid;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
}

nav a {
  align-self: flex-start;
  z-index: 2;
  margin: 10px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  padding: 20px;
  position: absolute;
  margin: auto;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  color: plum;
  font-size: 10em;
  font-weight: 900;
  text-shadow: 3px 3px 4px rgb(219, 11, 11);
}

.links {
  text-decoration: none;
  color: plum;
  font-size: 1em;
  font-weight: 900;
  text-shadow: 3px 3px 4px rgb(219, 11, 11);
}

.mapContainer {
  display: block;
  height: 1000px;
  width: 1200px;
  border-color: plum;
  border-radius: 5px;
  margin-left: 18%;
  margin-top: 30px;
}

.vendorPopup {
  padding: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  width: 100px;
  font-size: large;
  margin-bottom: 30px;
}

.vendorPopup h1 {
  font-size: 15px;
}
